APP_NAME=""
APP_ENV=local
APP_PORT=""
APP_DEBUG=true
APP_URL="http://localhost"

DATABASE_HOST= # <container-name>
DATABASE_PORT= # <>:port
DATABASE_NAME=
DATABASE_USERNAME=gouser
DATABASE_PASSWORD=password

LOG_LEVEL=debug

MAIL_MAILER=
# à définir quand on en aura besoin